<a href="https://colab.research.google.com/github/mullasulemaan/Machine-Learning/blob/master/Task_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import pandas 
s=pandas.read_csv('/content/drive/My Drive/Classroom/ML Internship 1/data.csv')
mean_val=df[df.columns[3:7]].mean(axis=1)
median_val=df[df.columns[3:7]].median(axis=1)
mode_val=df[df.columns[3:7]].mode(axis=1)
s.insert(10,'mean',mean_val)
s.insert(11,'median',median_val)
s.insert(12,'mode',mode_val[0])
s.head(8)

        Date  Symbol  Series  ...      mean   median    mode
0  13-Apr-20      LT      EQ  ...  839.3875  838.600  807.95
1  09-Apr-20      LT      EQ  ...  819.5250  819.675  834.35
2  08-Apr-20      LT      EQ  ...  810.4250  806.000  797.70
3  07-Apr-20      LT      EQ  ...  802.8000  803.600  791.00
4  03-Apr-20      LT      EQ  ...  782.0000  787.050  791.10
5  01-Apr-20      LT      EQ  ...  790.3375  791.200  766.55
6  31-Mar-20      LT      EQ  ...  811.0750  815.050  791.20
7  30-Mar-20      LT      EQ  ...  801.5000  800.000  791.00

[8 rows x 13 columns]